<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<mat-grid-tile-header cols="2" rowHeight="2:2">
  <app-header></app-header>
</mat-grid-tile-header>

{{alumnos}}
<button mat-raised-button  (click)="funcionEjemplo()" > Segundo componente </button>
<button *ngIf="valorif" mat-raised-button  (click)="funcionEjemplo()" > Segundo componente </button>

<mat-grid-list cols="2" rowHeight="2:3">
  
  <mat-grid-tile style="background-color: red;"><app-banner-left></app-banner-left> </mat-grid-tile> 
  <mat-grid-tile style="background-color: blue;"></mat-grid-tile>   <app-banner-right></app-banner-right>
</mat-grid-list>

<ul>
  <li *ngFor="let variable of valores">{{variable.name}}</li>
</ul>
        
    <app-body></app-body>

    <mat-grid-tile-footer cols="2" rowHeight="2:2">
      <app-footer></app-footer>
    </mat-grid-tile-footer>

    

  <router-outlet>
  <router-outlet /> 